.loadingState {
  display: flex;
  flex-direction: row;
  gap: var(--space-60);
  width: 100%;
  height: 100%;
}

.block {
  border-radius: var(--radius-sm);
  background: linear-gradient(
    90deg,
    var(--color-dark-grey) 25%,
    var(--color-med-grey) 37.5%,
    var(--color-dark-grey) 50%
  );
  background-size: 400% 100%;
  animation: shimmer 2s ease-in-out infinite;
}

.image {
  width: 28vw;
  max-width: var(--space-320);
  height: 28vw;
  max-height: var(--space-320);
  flex-shrink: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
  flex-grow: 2;
  width: 100%;
}

.embed {
  width: 100%;
  height: 15.2rem;
}

.button {
  width: 100%;
  height: 3.5rem;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (--mobile) {
  .loadingState {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 60vw;
    height: 60vw;
  }

  .column {
    width: 100%;
  }
}
