.livePage {
  background: var(--color-dark-red);
  color: var(--color-white);
  width: 100vw;
  min-height: calc(100vh - var(--page-min-height-offset));
  margin-top: var(--nav-height); /* clears the nav bar's own height so its transparent background doesn't overlap this page's background */
  padding: var(--space-40) 0;
}

.content {
  max-width: var(--content-width-sm);
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: var(--font-size-80);
  font-weight: var(--font-weight-light);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.noShows {
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--color-white);
}

@media (--mobile) {
  .livePage {
    padding: var(--space-10) 0 var(--space-80);
    margin-top: 0;
  }
}
