.video {
  background: var(--color-dark-grey);
}

.pageWrapper {
  margin: var(--nav-height) auto 0; /* clears the nav bar's own height so its transparent background doesn't overlap this page's background */
  padding: var(--space-40) 0 var(--space-100);
  max-width: var(--content-width-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-80);
}

.header {
  text-align: center;
  font-size: var(--font-size-80);
  font-weight: var(--font-weight-light);
  margin-bottom: 0;
}

@media (--mobile) {
  .pageWrapper {
    padding: var(--space-40) var(--space-20) var(--space-100);
  }
}
